
.game-container{
    
    background-color: #284c8a;
   
}

.game-title{
  font-family: 'Russo One', sans-serif;
  color: whitesmoke;
  font-size: 2em;
}
.deck .col-md-2 {
    text-align: center;
    /*font-size: 2.5em;*/
   
  }

  .deck-fa{
    font-size: 3.5em;
    
    list-style-type: none;
    margin: 20px;
  }

  .deck-fa-left{
    font-size: 3.5em;
    width:350px ;
    list-style-type: none;
    margin: 20px;
  }

  li{
    border-radius: 15px;
    background-color:#181340;
    color: #c38dd5;
    text-align: center;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(255,254,154,1);
    -moz-box-shadow: 2px 2px 5px 1px rgba(255,254,154,1);
    box-shadow: 2px 2px 5px 1px rgba(255,254,154,1);
  }

  .moveLeftAnim{
    background-color: gray;
    animation-name: moveCardLeftAnim ;
    animation-duration: 2s;
    animation-delay: 0s;
   animation-timing-function: linear;
   
  }

  .timerNumbers{
    font-family: 'Russo One', sans-serif;
    color: #FFFE9A;
    font-size: 4em;
    padding: 5px;
  }


  @keyframes moveCardLeftAnim {

    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(-1000px);
      
     
  }
    }
  
