
.game-container{
    text-align: center;
}
.deck .col-md-2 {
    text-align: center;
    /*font-size: 2.5em;*/
   
  }

  .deck-fa{
    font-size: 3.5em;
    
    list-style-type: none;
    margin: 20px;
  }

  .deck-fa-left{
    font-size: 3.5em;
    width:350px ;
    list-style-type: none;
    margin: 20px;
  }

  li{
    border-radius: 15px;
    background-color: black;
    color: whitesmoke;
    text-align: center;
  }

  .moveLeftAnim{
    background-color: gray;
    animation-name: moveCardLeftAnim ;
    animation-duration: 2s;
    animation-delay: 0s;
   animation-timing-function: linear;
   
  }


  @keyframes moveCardLeftAnim {

    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(-1000px);
      
     
  }
    }
  
